



h1 {
font-family: sans-serif;
font-stretch: expanded;

}

#luci {

  padding: 3% 15%;

background:  #ff8000;

font-family: fantasy;
}


.luci1 {

font-family: serif;

}



#social {




}

.social {




}


.centrare {

  padding: 3%;


}


#rezultate {

  background: #ff8000;
}


hr {



}
